<% if @patient.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
            O formulário contém <%= pluralize(@patient.errors.count, "erro") %>.
        </div>
        <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>